In [21]:
import pandas as pd

### Load Dataset Promos

In [3]:
df_executed_promos = pd.read_csv('../data/executed_promos.csv', encoding='latin')
df_executed_promos

       CodigoDC  Cliente  Marca  Cupo
0        297601     8410     29     9
1        297601     9337     29     9
2        309843     7404     40    16
3        309874     4017     40    16
4        309910     6316     40    16
...         ...      ...    ...   ...
27789    651436     9798     39    20
27790    651588     2397     39    20
27791    651597     4430     40    16
27792    651617     7347     39    20
27793    652143     1584     40    16

[27794 rows x 4 columns]

In [4]:
df_active_promos = pd.read_csv('../data/active_promos.csv', encoding='latin')
df_active_promos

        CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente
0         297601     29     9  2018-08-06  2018-08-30     3213
1         297601     29     9  2018-08-06  2018-08-30     3795
2         297601     29     9  2018-08-06  2018-08-30    11816
3         298856     40    16  2018-08-12  2018-08-19     8444
4         309916     40    16  2018-08-12  2018-08-19     8488
...          ...    ...   ...         ...         ...      ...
422432    688354     40    16  2019-09-25  2019-09-26    14435
422433    688355     29     9  2019-09-25  2019-09-26      320
422434    688355     29     9  2019-09-25  2019-09-26     3117
422435    688355     29     9  2019-09-25  2019-09-26     3503
422436    688355     29     9  2019-09-25  2019-09-26     6372

[422437 rows x 6 columns]

In [5]:
df_active_promos['CodigoDC_Cliente'] = (df_active_promos['CodigoDC'].astype('str') + df_active_promos['Cliente'].astype('str') + 
                                        df_active_promos['Marca'].astype('str') + df_active_promos['Cupo'].astype('str'))
df_executed_promos['CodigoDC_Cliente'] = (df_executed_promos['CodigoDC'].astype('str') + df_executed_promos['Cliente'].astype('str') +
                                          df_executed_promos['Marca'].astype('str') + df_executed_promos['Cupo'].astype('str'))
df_executed_promos['Is_Executed'] = 1

In [6]:
df_promos = pd.concat([df_active_promos.set_index('CodigoDC_Cliente'), df_executed_promos.set_index('CodigoDC_Cliente')[['Is_Executed']] ], axis=1)
df_promos['Cliente_Marca_Cupo'] = df_promos['Cliente'].astype('str') + df_promos['Marca'].astype('str') + df_promos['Cupo'].astype('str')
df_promos['Is_Executed'] = df_promos['Is_Executed'].fillna(0).astype('int32')
import datetime as dt
df_promos['Fecha_Desde'] = df_promos['Fecha_Desde'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d'))
df_promos['Fecha_Hasta'] = df_promos['Fecha_Hasta'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d'))
df_promos['Duracion_Promocion'] = (df_promos['Fecha_Hasta'] - df_promos['Fecha_Desde'])
df_promos['Duracion_Promocion'] = df_promos['Duracion_Promocion'].apply(lambda x: x.days)
df_promos

                 CodigoDC  Marca  ...  Cliente_Marca_Cupo Duracion_Promocion
2976013213299      297601     29  ...             3213299                 24
2976013795299      297601     29  ...             3795299                 24
29760111816299     297601     29  ...            11816299                 24
29885684444016     298856     40  ...            84444016                  7
30991684884016     309916     40  ...            84884016                  7
...                   ...    ...  ...                 ...                ...
688354144354016    688354     40  ...           144354016                  1
688355320299       688355     29  ...              320299                  1
6883553117299      688355     29  ...             3117299                  1
6883553503299      688355     29  ...             3503299                  1
6883556372299      688355     29  ...             6372299                  1

[422437 rows x 9 columns]

In [7]:
df_promos.isna().sum()

CodigoDC              0
Marca                 0
Cupo                  0
Fecha_Desde           0
Fecha_Hasta           0
Cliente               0
Is_Executed           0
Cliente_Marca_Cupo    0
Duracion_Promocion    0
dtype: int64

In [8]:
df_promos_final = df_promos[['Cliente_Marca_Cupo', 'Cliente', 'Marca', 'Cupo']].drop_duplicates()
df_promos_final.set_index('Cliente_Marca_Cupo', inplace=True)
List_Is_Executed = df_promos.groupby('Cliente_Marca_Cupo').Is_Executed.apply(lambda x: list(x))
List_CodigoDC = df_promos.groupby('Cliente_Marca_Cupo').CodigoDC.apply(lambda x: list(x))
List_Fecha_Desde = df_promos.groupby('Cliente_Marca_Cupo').Fecha_Desde.apply(lambda x: list(x))
List_Fecha_Hasta= df_promos.groupby('Cliente_Marca_Cupo').Fecha_Hasta.apply(lambda x: list(x))
List_Duracion_Promocion= df_promos.groupby('Cliente_Marca_Cupo').Duracion_Promocion.apply(lambda x: list(x))
df_promos_final=pd.concat([df_promos_final, List_CodigoDC, List_Is_Executed, List_Fecha_Desde, List_Fecha_Hasta, List_Duracion_Promocion], axis=1)
df_promos_final

           Cliente  ...                                 Duracion_Promocion
3213299       3213  ...                                  [24, 24, 5, 3, 3]
3795299       3795  ...                     [24, 24, 3, 3, 7, 5, 17, 9, 9]
11816299     11816  ...                               [24, 24, 7, 9, 9, 3]
84444016      8444  ...  [7, 1, 4, 13, 1, 6, 9, 0, 9, 5, 8, 3, 3, 5, 13...
84884016      8488  ...  [7, 0, 13, 1, 5, 4, 22, 6, 0, 11, 4, 9, 5, 0, ...
...            ...  ...                                                ...
150403920    15040  ...                                                [3]
148404016    14840  ...                                                [3]
1844299       1844  ...                                             [9, 9]
80103920      8010  ...                                               [11]
4903299       4903  ...                                             [0, 1]

[34551 rows x 8 columns]

In [9]:
df_promos_final.isna().sum()

Cliente               0
Marca                 0
Cupo                  0
CodigoDC              0
Is_Executed           0
Fecha_Desde           0
Fecha_Hasta           0
Duracion_Promocion    0
dtype: int64

### Load Dataset Sales and Clients

In [10]:
df_clients = pd.read_csv('../data/clients_attributes.csv')
df_clients

       Cliente FechaAltaCliente  Region  ...  TipoPoblacion  Estrato  EF
0            1       2009-03-03       4  ...              1        1   1
1            9       2009-03-03       4  ...              2        3   1
2           15       2009-03-03       4  ...              2        3   0
3           37       2009-03-03       4  ...              2        3   1
4           43       2009-03-03       4  ...              2        3   0
...        ...              ...     ...  ...            ...      ...  ..
15064    15040       2019-03-07       1  ...              2        1   0
15065    15043       2019-03-07       1  ...              2        2   1
15066    15052       2019-03-09       3  ...              2        2   0
15067    15065       2019-03-16       4  ...              2        2   0
15068    15069       2019-03-18       4  ...              2        1   0

[15069 rows x 8 columns]

In [11]:
df_sales = pd.read_csv('../data/sales.csv', encoding='latin') ## no hay clase segmento precio y cupo
### completar los valores faltantes
df_sales['Cupo'] = df_sales['Cupo'].apply(lambda x:  int(x) if str(x)!='nan' else 16 )
df_sales['SegmentoPrecio'] = df_sales['SegmentoPrecio'].apply(lambda x:  int(x) if str(x)!='nan' else 1)
df_sales

         Cliente   Año  Mes  ClaseEnvase  ...  Cupo        Nr    Hl    Dcto
0              1  2018    1            2  ...    10   6352.94  0.03     0.0
1              1  2018    1            2  ...    16  99130.50  0.45     0.0
2              1  2018    6            2  ...     6  11605.40  0.07 -2880.0
3              1  2018    7            1  ...    34   1944.01  0.01     0.0
4              1  2018    8            2  ...    16  16250.18  0.06     0.0
...          ...   ...  ...          ...  ...   ...       ...   ...     ...
1894247    15068  2019    8            1  ...    32   3777.28  0.01     0.0
1894248    15069  2019    3            1  ...    32   6295.46  0.02     0.0
1894249    15069  2019    4            1  ...    32   6295.46  0.02     0.0
1894250    15069  2019    4            2  ...     6  15741.56  0.08     0.0
1894251    15069  2019    7            1  ...    29  16102.33  0.09     0.0

[1894252 rows x 10 columns]

In [12]:
#### Analizando Sales_Clients
df_clients_rec = pd.concat([df_clients.set_index('Cliente'),
df_sales.groupby('Cliente').Nr.apply(lambda x:list(x)),
df_sales.groupby('Cliente').Hl.apply(lambda x:list(x)),
df_sales.groupby('Cliente').Dcto.apply(lambda x:list(x)),
df_sales.groupby('Cliente').Año.apply(lambda x:list(x)),
df_sales.groupby('Cliente').Mes.apply(lambda x:list(x)),
df_sales.groupby('Cliente').ClaseEnvase.apply(lambda x:list(x)),
df_sales.groupby('Cliente').SegmentoPrecio.apply(lambda x:list(x)),
df_sales.groupby('Cliente').Marca.apply(lambda x:list(x)),
df_sales.groupby('Cliente').Cupo.apply(lambda x:list(x))], axis=1)
df_clients_rec = df_clients_rec.reset_index().rename(columns = {'index':'Cliente'})
df_clients_rec.rename(columns={'Marca':'ListMarca',	'Cupo':'ListCupo'}, inplace=True)
df_clients_rec.head()

   Cliente  ...                                           ListCupo
0        1  ...  [10, 16, 6, 34, 16, 30, 32, 32, 12, 25, 29, 16...
1        2  ...  [29, 8, 26, 25, 22, 26, 8, 22, 23, 34, 8, 33, ...
2        3  ...  [29, 16, 29, 8, 16, 32, 23, 29, 29, 19, 16, 19...
3        4  ...  [29, 10, 10, 16, 32, 30, 32, 29, 30, 10, 34, 3...
4        5  ...  [25, 16, 19, 19, 16, 16, 23, 19, 19, 29, 30, 1...

[5 rows x 17 columns]

## Unir las bases de Promos, Ventas y Clientes

In [13]:
# Cliente_Sales es la variable que me indica cuantas el cliente ha comprado dicho producto de una respectiva marca y cupo

df_sales_clients = pd.merge(df_sales, df_clients, how = 'left', on = 'Cliente')
df_sales_clients['Cliente_Marca_Cupo'] = df_sales_clients['Cliente'].astype('str') + df_sales_clients['Marca'].astype('str') + df_sales_clients['Cupo'].astype('str')
aux =  df_sales_clients.groupby('Cliente_Marca_Cupo').size()
aux.name = 'Cliente_Sales'
df_promos_final = pd.merge(df_promos_final, aux, how = 'left', left_index=True, right_index=True).fillna(0)
df_promos_final['Cliente_Sales'] = df_promos_final['Cliente_Sales'].astype('int32')
df_promos_final

           Cliente  ...  Cliente_Sales
3213299       3213  ...              2
3795299       3795  ...              4
11816299     11816  ...              1
84444016      8444  ...             15
84884016      8488  ...             12
...            ...  ...            ...
150403920    15040  ...              0
148404016    14840  ...              0
1844299       1844  ...              3
80103920      8010  ...              0
4903299       4903  ...              0

[34551 rows x 9 columns]

In [18]:
df_intermediate = pd.merge(df_promos_final, df_clients_rec, how='left', on='Cliente')
df_intermediate['Cliente_Marca_Cupo'] = df_intermediate['Cliente'].astype('str')+df_intermediate['Marca'].astype('str')+df_intermediate['Cupo'].astype('str')
df_intermediate.set_index('Cliente_Marca_Cupo', inplace=True)
df_intermediate.head()

                    Cliente  ...                                           ListCupo
Cliente_Marca_Cupo           ...
3213299                3213  ...  [17, 29, 17, 16, 25, 26, 26, 26, 16, 26, 22, 3...
3795299                3795  ...  [22, 16, 18, 26, 26, 26, 16, 22, 12, 16, 16, 1...
11816299              11816  ...  [16, 16, 16, 16, 8, 16, 17, 16, 12, 16, 16, 16...
84444016               8444  ...  [32, 33, 19, 16, 19, 16, 16, 30, 16, 25, 19, 1...
84884016               8488  ...  [18, 17, 16, 22, 16, 16, 16, 16, 19, 16, 16, 1...

[5 rows x 25 columns]

In [19]:
### visualizar si tiene valores faltantes
df_intermediate.isna().sum()

Cliente               0
Marca                 0
Cupo                  0
CodigoDC              0
Is_Executed           0
Fecha_Desde           0
Fecha_Hasta           0
Duracion_Promocion    0
Cliente_Sales         0
FechaAltaCliente      0
Region                0
Gerencia              0
SubCanal              0
TipoPoblacion         0
Estrato               0
EF                    0
Nr                    0
Hl                    0
Dcto                  0
Año                   0
Mes                   0
ClaseEnvase           0
SegmentoPrecio        0
ListMarca             0
ListCupo              0
dtype: int64

In [20]:
df_intermediate.to_pickle('../data/df_intermediate_v3.pkl')