In [26]:
import pandas as pd

In [15]:
### cargar data intermedia que contiene todos los campos 4 bases anteriores
df_intermediate = pd.read_pickle('../data/df_intermediate_v3.pkl')
df_intermediate.head()

                    Cliente  ...                                           ListCupo
Cliente_Marca_Cupo           ...
3213299                3213  ...  [17, 29, 17, 16, 25, 26, 26, 26, 16, 26, 22, 3...
3795299                3795  ...  [22, 16, 18, 26, 26, 26, 16, 22, 12, 16, 16, 1...
11816299              11816  ...  [16, 16, 16, 16, 8, 16, 17, 16, 12, 16, 16, 16...
84444016               8444  ...  [32, 33, 19, 16, 19, 16, 16, 30, 16, 25, 19, 1...
84884016               8488  ...  [18, 17, 16, 22, 16, 16, 16, 16, 19, 16, 16, 1...

[5 rows x 25 columns]

In [16]:
import statistics as stat
def calculate_mode(x):
  try:
    moda=stat.mode(x)
  except:
    moda=0
  return moda

In [ ]:
import numpy as np
df_intermediate['NroPromociones'] = df_intermediate['CodigoDC'].apply(lambda x: len(x))
df_intermediate['NroPromocionesConsumidas'] = df_intermediate['Is_Executed'].apply(lambda x: sum(x))
df_intermediate['NroPromocionesRatio'] = df_intermediate['NroPromocionesConsumidas']/df_intermediate['NroPromociones'] 
df_intermediate['Target'] = df_intermediate['Is_Executed'].apply(lambda x: 1 if sum(x)>0 else 0)
df_intermediate['Duracion_Promocion_Max'] = df_intermediate['Duracion_Promocion'].apply(lambda x: max(x))
df_intermediate['Duracion_Promocion_Mean'] = df_intermediate['Duracion_Promocion'].apply(lambda x: np.mean(x))
df_intermediate['Nr_Total'] = df_intermediate['Nr'].apply(lambda x: sum(x))
df_intermediate['Nr_Promedio'] = df_intermediate['Nr'].apply(lambda x: np.mean(x))
df_intermediate['Nr_Std'] = df_intermediate['Nr'].apply(lambda x: np.std(x))
df_intermediate['Nro_Compra'] = df_intermediate['Nr'].apply(lambda x: len(x))
df_intermediate['Hl_Total'] = df_intermediate['Hl'].apply(lambda x: sum(x))
df_intermediate['Hl_Promedio'] = df_intermediate['Hl'].apply(lambda x: np.mean(x))
df_intermediate['Dcto_Total'] = df_intermediate['Dcto'].apply(lambda x: sum(x))
df_intermediate['Dcto_Promedio'] = df_intermediate['Dcto'].apply(lambda x: np.mean(x))
df_intermediate['Mes_Moda'] = df_intermediate['Mes'].apply(lambda x:calculate_mode(x))
df_intermediate['ClaseEnvase_Moda'] = df_intermediate['ClaseEnvase'].apply(lambda x:calculate_mode(x))
df_intermediate['SegmentoPrecio_Moda'] = df_intermediate['SegmentoPrecio'].apply(lambda x:calculate_mode(x))
df_intermediate['Marca_Moda'] = df_intermediate['ListMarca'].apply(lambda x:calculate_mode(x))
df_intermediate['Cupo_Moda'] = df_intermediate['ListCupo'].apply(lambda x:calculate_mode(x))

In [18]:
### obtener cuales son los meses mas frecuentes en la que el cliente compra productos de la empresa de cervecerÃ­a
### obtener cuales son los meses envases mas frecuentes en la que el cliente compra productos de la empresa de cervecerÃ­a
### obtenerlos segmentos de precios  mas frecuentes a la que pertenece el cliente

def get_mes(n,arr):
  cont = 0
  for i in arr:
    if n == i:
      cont=cont+1
  return cont
for i in range(1,13,1):
  df_intermediate["mes_"+str(i)] = df_intermediate["Mes"].apply(lambda x: get_mes(i, x))
for i in range(1,3,1):
  df_intermediate["ClaseEnvases_"+str(i)] = df_intermediate["ClaseEnvase"].apply(lambda x: get_mes(i, x))
for i in range(1,5,1):
  df_intermediate["SegmentoPrecio_"+str(i)] = df_intermediate["SegmentoPrecio"].apply(lambda x: get_mes(i, x))

def get_list_marca(x):
  dict_ = {40:0, 39:0, 29:0}
  for i in x:
    if i in [40,39,29]:
      dict_[i] +=1
  return dict_

def get_list_cupo(x):
  dict_ = {16:0, 20:0, 9:0}
  for i in x:
    if i in [16,20,9]:
      dict_[i] +=1
  return dict_
### Obtener la frecuencia de las marcas que mas compra el cliente
aux_list_marca = pd.DataFrame(list(df_intermediate['ListMarca'].apply(lambda x: get_list_marca(x))), index=df_intermediate.index)
aux_list_marca.columns = ['Marca_Freq_40', 'Marca_Freq_39', 'Marca_Freq_29']

### Obtener la frecuencia de los cupos que mas compra el cliente
aux_list_cupo = pd.DataFrame(list(df_intermediate['ListCupo'].apply(lambda x: get_list_cupo(x))), index=df_intermediate.index)
aux_list_cupo.columns = ['Cupo_Freq_16', 'Cupo_Freq_20', 'Cupo_Freq_9']
df_intermediate = pd.concat([df_intermediate,aux_list_marca, aux_list_cupo], axis=1)

In [21]:
### Obtener la binarizacion encodes de las Variables Gerencia y Subcanal, esto debido a que estas presentan mas de 20 valores y no optimo hacer un One_Hot_Encoding
import category_encoders as ce
import warnings as w
w.filterwarnings('ignore')
encoder = ce.BinaryEncoder(cols=['Gerencia','SubCanal'])
X_binenc = encoder.fit_transform(df_intermediate[['Gerencia', 'SubCanal']])
X_binenc.head()

                    Gerencia_0  Gerencia_1  ...  SubCanal_4  SubCanal_5
Cliente_Marca_Cupo                          ...
3213299                      0           0  ...           0           1
3795299                      0           0  ...           1           0
11816299                     0           0  ...           1           1
84444016                     0           0  ...           0           0
84884016                     0           0  ...           0           1

[5 rows x 13 columns]

In [22]:
#### analizar la variable FechaAltaCliente para encontrar datos relacionados a la antiguedad a la que se encuentra el cliente respecto a su fecha de alta
import datetime as dt
df_intermediate['Annios_Desde_FechaAltaCliente'] = round(df_intermediate['FechaAltaCliente'].apply(lambda x: (dt.datetime.now() - dt.datetime.strptime(x, '%Y-%m-%d')).days)/365, 0)
df_intermediate['Meses_Desde_FechaAltaCliente'] = round(df_intermediate['FechaAltaCliente'].apply(lambda x: (dt.datetime.now() - dt.datetime.strptime(x, '%Y-%m-%d')).days)/30, 0)
df_intermediate['Dias_Desde_FechaAltaCliente'] = df_intermediate['FechaAltaCliente'].apply(lambda x: (dt.datetime.now() - dt.datetime.strptime(x, '%Y-%m-%d')).days)

In [23]:
#### Realizar Onet_Hot_Encoding a las variable de Marca, Cupo, Region, Estrato
df_marca_dummies = pd.get_dummies(df_intermediate['Marca'],prefix='Marca')
df_cupo_dummies = pd.get_dummies(df_intermediate['Cupo'],prefix='Cupo')
df_region_dummies = pd.get_dummies(df_intermediate['Region'],prefix='Region')
df_estrato_dummies = pd.get_dummies(df_intermediate['Estrato'],prefix='Estrato')
df_intermediate = pd.concat([df_intermediate, X_binenc,df_marca_dummies, df_cupo_dummies, df_region_dummies, df_estrato_dummies], axis=1)

In [24]:
df_intermediate.to_pickle('../data/df_feature_engineering_v3.pkl')